body {
    background-color: white;
}

.floatyleft {
    float:left;
}

.floatyright{
    float:right;
}


/*  LOGO BULLSHIT  */
.logo {
    color: white;

    font-family:monospace;
    
    border-color: white;
    border-radius: 45px;
    border-style: solid;
    border-width: thick;
    
    height: 100px;
    width: auto;
    display: inline-block;
    
    background-color: forestgreen;
    
    transition: 0.5s;
    float:left;
}

.logo:hover {
    background-color: darkgreen;
    box-shadow: 10px 0px 20px forestgreen;
}

.logo img {
    height: 95%;
    padding: 10px;
    float: left;
    padding-left: 20px;
}

.logo p {
    font-size: 55px;
    padding: 5px;
    float: left;
    vertical-align: middle;
    font-variant: small-caps;
    padding-right: 20px;
    border-style: hidden;
}
/* LOGO BULLSHIT ENDS */

/* NAVBAR */

#navbarid {
    background-color: forestgreen;
}

#navbarid .activated {
    color: white;
    background-color: darkgreen;
    box-shadow: 0px 0px 5px 5px darkgreen;
    border-radius: 15px;
}

/* OLD NAVBAR     #navigationbar {
    display:inline-block;
}

#navigationbar div:last-child{
    display: inline-block;
    border-radius: 10px;
    border-style: solid;
    border-width: medium;
    color: white;
    vertical-align: middle;
    padding: 5px;
    font-size: 100%; 
}

#navigationbar a div{
    background-color: forestgreen;
    float: right;
}

#navigationbar .floatyright {
    background-color: white;
}

/* NAVBAR  */

.jumbotron {
    background-image: url(imgs/megaJumbo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

.jumbotron h3 {
    color:white;
    text-shadow: 5px 5px 20px black;
    font-size: 8em;
}

.jumbotron p {
    color:white;
    text-shadow: 5px 5px 10px black;
    font-size: 3em;
}

/* Destinations Carousel */

#destinationCarou {
    background-size: cover;
    background-repeat: no-repeat;

}

#destinationCarou img {
    background-size: cover;
    background-repeat: no-repeat;

}

/*  RESPPONSIVE MGAGE GALERY*/

#respondImageGallery .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
#respondImageGallery .column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

#respondImageGallery .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  #respondImageGallery .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #respondImageGallery .column {
    flex: 100%;
    max-width: 100%;
  }
}
/* HOVER OVER IMAGE GRID */

#test111 {
    position: relative;
}

.hoverers img {
    display: block;
    width: 100%;
    height: auto;
}

.hoverers .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: forestgreen;
}

.container:hover .overlay {
    opacity: 1;
    border-radius: 30px;
}

.overlaidtext {
    color: white;
    font-size: 20px;
    position:absolute;
    top: 200%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: forestgreen;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 20px forestgreen;
}

/*SOCIAL INTERACTION*/

#socialStuff {
    margin: 10px;
    height: 72px;
}

#socialStuff img {
    height: 100%;
}

@media only screen and (max-width: 768px) {
    #socialStuff {
        margin: 5px;
        height: 50px;
    }
}
/*IDENTITY*/

.targetclass {
    border: 5px solid forestgreen;
    border-radius: 10px;
    padding: 10px;
    font-size: 2em;
    font-family: sans-serif;
    color: forestgreen;
    font-weight: 900;
    margin: 10px;
}

/*NEWSLIST*/

.newslist li {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

input.botan{
    margin: 5px;
    background-color: forestgreen;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    border-radius: 5px;
    padding: 5px;
}

h2 {
    background-color: forestgreen;
    color: white;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: 700;
    padding: 10px;
}

h1 {
    color: forestgreen;
    border-style: solid;
    border-width: thick;
    padding: 10px;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: 900;
    margin-top: 10px;
}

h4 {
    color: forestgreen;
}

/*FOOTER*/

.bg-forestgreen {
    background-color: forestgreen;
}

#ContactsScalar {
    border-radius: 60px; /*this is just so I'm sure I'm even affecting the image at all*/
    max-width: 100%;
}

img {
    max-width: 100%;
}


.james {
    border-style: dashed;
    border-color: firebrick;
}

.container-fluid {
    margin-bottom: 10px;
}